/* Section Contato */
.contato{
    width: 100%;
    height: 1181px;
    display: flex;
    flex-direction: column;
}
.titulo-contato{
    width: 202px;
    height: 3.25rem;
    margin: 80px 0 0 160px;
}
.contato h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    /* identical to box height, or 108% */
    
    /* c7 */
    color: #333333;
}
.informacoes-contato{
    width: 1280px;
    height: 930px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.fale-conosco{
    width: 510px;
    height: 100%;
    background: #121212;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius:  5px, 0px, 0px, 5px;
}
.fale-conosco h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F2F2F2;        
}

.fale-conosco p{
    margin-top: 1.5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #C4C4C4;
    width: 430px;
}

.fale-conosco h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 3.75rem;
}
.localizacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
    gap: 4px;
}

.fale-conosco .localizacao span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #666666;
}

.localizacao img{
    width: 20px;
    height: 20px;
}
.formulario{
    width: 770px;
    height: 100%;
    box-sizing: border-box;
    padding: 2.5rem 0 2.5rem 2.5rem;
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
}
.formulario form{
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-top: 1.25rem;
    align-items: center;
}
.nome, .sobrenome, .email, .telefone {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 4.5rem;
    margin-bottom: 0;
}
.nome-completo{
    display: none;
}
.telefone::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #C4C4C4;
}
.mensagem{
    width: 690px;
    height: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 1.25rem;
}
.mensagem textarea{
    background: #F7F7F7;
    border: none;
    box-sizing: border-box;
    padding: 0.75rem;
}
.formulario label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    color: #333333;
}
.formulario input{
    height: 3rem;
    border-radius: 5px;
    background: #F7F7F7;
    border: none;
    box-sizing: border-box;
    padding: 0.75rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.formulario input[type="checkbox"]{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.formulario h4{
    width: 100%;
    font-family: 'Poppins';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #333333;
    margin-left: 0.4375rem;
    margin-bottom: 0.75rem;
}
.formulario::before{
    content: '';
    display: block;
    width: 4px;
    height: 10px;
    background: #FF5733;
    border-radius: 1px;
    position: relative;
    left: 0px;
    top: 0.40625rem;
}
.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.formulario button{
    width: 296px;
    height: 3.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    padding: 1rem 2rem;
    background: #FF5733;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #121212;
    cursor: pointer;
    margin-top: 1.25rem;
}

.formulario button:active{
    background: #FF5733;
    color: #121212;
    transform: translateY(2px);
}
.contato-container-mapa-mobile{
    display: none;
}

@media (max-width: 1600px){
    .contato{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1350px){
    .titulo-contato{
        margin-left: 32px;
    }
    .fale-conosco{
        width: 410px;
        padding-right: 1.25rem;
    }
    .formulario{
        width: 700px;
        padding: 0.625rem;
    }
    .formulario form{
        width: 100%;
    }
    .formulario input{
        width: 300px;
    }
    .nome, .sobrenome, .email, .telefone {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 4.5rem;
        margin-bottom: 0;
    }
    .form-group{
        width: 300px;
    }
    .fale-conosco p{
        width: 100%;
        font-size: 1.125rem;
    }
    iframe{
        height: 350px;
        width: 98%;
    }
}

@media (max-width: 540px){
    .contato{
        width: 360px;
        height: 1090px;
        padding: 0;
    }
    .titulo-contato{
        width: 85px;
        height: 2rem;
        margin: 20px 0 0 0;
    }
    .contato h3{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-left: 1.5rem;
    }
    .informacoes-contato{
        width: 360px;
        height: 930px;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }
    .contato-container-mapa-mobile{
        display: block;
    }
    .onde-nos-encontrar{
        display: none;
        margin: 0;
    }
    .fale-conosco{
        width: 312px;
        padding: 1.25rem;
    }
    .fale-conosco h4{
        font-size: 0.875rem;
        line-height: 1.25rem; 
    }
    .fale-conosco p{
        margin-top: 0.3125rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #C4C4C4;
        width: 272px;
    }
    .formulario{
        width: 312px;
        height: 100%;
        padding: 0.75rem 0 2.5rem 0.75rem;
        flex-direction: column;
    }
    .formulario form{
        display: flex;
        flex-direction: column;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0.75rem;
    }
    .nome, .sobrenome{
        display: none;
    }
    .nome-completo{
        display: block;
    }
    .nome-completo, .email, .telefone {
        display: flex;
        flex-direction: column;
        width: 288px;
        height: 2.75rem;
        margin-bottom: 0;
    }
    .telefone::placeholder{
        font-size: 0.625rem;
        line-height: 1rem;
    }
    .mensagem{
        width: 288px;
        height: 11.375rem;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin-top: 1.25rem;
    }
    .mensagem textarea{
        background: #F7F7F7;
        border: none;
        box-sizing: border-box;
        padding: 0.75rem;
    }
    .formulario label{
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 1rem;
    }
    .formulario input{
        width: 288px;
        height: 1.5rem;
        background: #F7F7F7;
    }
    .formulario input[type="checkbox"]{
        width: 1rem;
        height: 1rem;
    }
    .formulario h4{
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.015em;
    }
    .formulario::before{
        top: 0.75rem;
    }
    .checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.375rem;
        margin-top: 0.625rem;
    }
    .formulario button{
        width: 148px;
        height: 2rem;
        margin-top: 1rem;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 0.75rem;
        padding: 1rem 0.625rem;
    }
    .formulario button:active{
        background: #FF5733;
        color: #121212;
        transform: translateY(2px);   
    }
    .contato-container-mapa-mobile iframe{
        width: 288px;
        height: 10.625rem;
    }
    .contato-container-mapa-mobile span{
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
        color: #666666;
    }
    .contato-container-mapa-mobile h5{
        margin-top: 1.625rem;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: #333333;
    }
    .localizacao{
        margin: 0;
    }
    .localizacao img{
        width: 1rem;
        height: 1rem;
    }
}
